@charset "utf-8";

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
body {
    line-height: 1;
    color: #333;
    font-family: 'NanumBarunGothic';
    font-weight: 400;
   /*  background-color: azure; */
    min-width: 1920px; 
    /* 작은 화면에서 min-width의 값이 1920px으로 보여짐 */
}
h5 {
    width: 1920px;
    height: 40px;
    background-color: #fae6d9;
    font-size: 18px;
    display: flex;
    justify-content: center;
    line-height: 40px;
}
h5 p {
    width: 64px;
    height: 29px;
    border-radius: 14.5px;
    background-color: #fff;
    text-align: center;
    line-height: 29px;
    margin-right: 17px;
    margin-top: 6px;
}
header {
    height: 80px;
    display: flex;
    justify-content: space-between;
}
header h1 {
  position: relative;
  z-index: 1;

} 
header h1 a img {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}
header nav ul {
    display: flex;
    justify-content: space-between;
    line-height: 80px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;

}
header nav ul li {
    /* margin-right: 84px; */
    z-index: 1;
    margin-right: 84px;
}
header nav:nth-of-type(2) .menu li {
    margin-left: 20px;
    margin-right: 0;

}
header nav:nth-of-type(2) .menu {
    margin-right: 50px;
}
.cont01 {
    position: relative;
}
.cont01 div {
    width: 1920px;
    height: 970px;
    position: relative;
}
.cont01 div a img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -80px;
    left: 0;
}
.cont01 .slides_nav {
    width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}   
.cont01 .slides_nav a {
    margin: 0 30px;
}
.cont02 {
    padding: 190px 0;
}
.cont02 h3 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
.cont02 .list {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
}
.cont02 .list .item {
    width: 413px;
    height: 488px;
    margin: 100px 0;
    position: relative;
    overflow: hidden;
}
.cont02 .list .item a figure {
    width: 100%;
    height: 100%;
   
}
.cont02 .list .item a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont02 .list .item a figure span {
    font-size: 18px;
    color: #fff;
    background-color: #f9cdd2;
    width: 54px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}
.cont02 .list .item a .text {
    background-color: #ffffffc7;
    width: 413px;
    height: 176px;
    text-align:center;
    position: absolute;
    bottom: 0;
    transition: 1s;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    opacity: 0;
}
.cont02 .list .item a .text h4 {
    font-size: 25px;
    margin-bottom: 20px;
}
.cont02 .list .item a .text strong {
    font-size: 20px;
    width: 100%;
}
.cont02 .list .item a .text b {
    color: #fc8d9a;
}
.cont02 .list .item a .text span {
    color: #898989;
    font-size: 15px;
    text-decoration:line-through;
}
.cont02 .list .item a .icon {
    position: absolute;
    right: 5px;
    bottom: 0;
}
.cont02 .list .item a .icon div {
    background-color: #ffffffc7;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    margin: 10px 0;
}
.cont02 .list .item a .icon div img {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.cont02 .list .item a figure {
    position: relative;
}
.cont02 .list .item a figure .inner {
    background-color: #fff;
    width: 68.31px;
    height: 68.31px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}
.cont02 .list .item a figure .inner P {
    font-size: 10px;
}
.cont02 .list .item a figure .inner strong {
    font-size: 15px;
    margin-top:3px;
}
.cont02 .more {
    padding-top: 100px; 
    
}
.cont02 .more a {
    width: 1280px;
    display: flex;
    justify-content: flex-end;
    /* flex를 줬으면 flex로 이동 */
    margin: 0 auto;
   
}
.cont02 .more p {
    font-size: 18px;
    margin-right: 13px;
    line-height: 27px;
}
.cont02 .more img {
    width: 13px;
    height: 27px;
    object-fit: cover;
}
.cont02 .list .item:hover .text {
    opacity: 1;
    /* 호버했을때 스르륵올라오게 하는 효과 */
}
.cont03 {
    width: 1920px;
    background-color: #efeee9;
}
.cont03 .item {
    padding: 100px 0;
}
.cont03 .item .cont03_top {
    display: flex;
    position: relative;
}
.cont03 .item .cont03_top img {
    width: 773px;
    height: 1123px;
    object-fit: cover;
    margin-left: 250px;
 
}
.cont03 .item .cont03_top div {
    display: flex;
    position: relative;
    width: 550px;
}
.cont03 .item .cont03_top div figure img {
    position: absolute;
    bottom: 50px;
    right: 0;
}
.cont03 .item .cont03_top div h1 {
    font-size: 200px;
    color: #b5b8cc;
    text-align: center;
    padding-top: 347px;
    padding-left: 167px;
   
}
.cont03 .item .cont03_top div img {
    width: 92px;
    height: 92px;
    position: absolute;
    right: 177px;
    bottom: 49px;
}
.cont03 .item .cont03_bottom {
    padding-top: 200px;
    position: relative;
    display: flex;
}
.cont03 .item .cont03_bottom div img {
    width: 92px;
    height: 92px;
    
}
.cont03 .item .cont03_bottom div figure img {
    transform: rotate(180deg);
    position: absolute;
    left: 0;
    bottom: 50px;

}
.cont03 .item .cont03_bottom div {
    order: -1;
    position: relative;
}
.cont03 .item .cont03_bottom div h1 {
    color: #e2bca7;
}